<!DOCTYPE html>
<html>
<head>	
	<title> hello welcome to workshop</title>
    <style>
    body{
        background-color:lightgreen;
    }
    h1{
        color:pink;
        margin-left:40px;
    }
    </style>
</head>
</html>
